<!-- car-form.component.html -->
<div class="center-container">
  <div class="form-container">
    <h2 class="text-center mb-4">Car Form</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input
          type="text"
          class="form-control"
          id="modelo"
          [(ngModel)]="modelo"
          name="modelo"
          required
        />
      </div>
      <div class="form-group">
        <label for="marca">Marca:</label>
        <input
          type="text"
          class="form-control"
          id="marca"
          [(ngModel)]="marca"
          name="marca"
          required
        />
      </div>
      <div class="form-group">
        <label for="preco">Preço:</label>
        <input
          type="number"
          class="form-control"
          id="preco"
          [(ngModel)]="preco"
          name="preco"
          required
        />
      </div>
      <div class="form-group">
        <label for="foto">Foto:</label>
        <input type="file" id="foto" name="foto" (change)="onFileSelected($event)" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
