.car-container {
  display: flex;
  flex-wrap: wrap;
}

.car-item {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
.card-custom-bg {
  background-color: #f0f0f0;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.car-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
