
<nav class="navbar navbar-expand-lg navbar-light ps-3 bg-light">
  <a class="navbar-brand" href="#">CarVerzel</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-car" routerLinkActive="active"
          >Novo Carro</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/L1malucas/CarVerzel"
          target="_blank"
          routerLinkActive="active"
          >Repositório</a
        >
      </li>
    </ul>
  </div>
</nav>
